body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
nav {
  background-color: #444;
  color: #ddd;
  padding: 20px;
  position: sticky;
  top: 0px;
}
nav ul {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: #ddd;
  text-decoration: none;
}
nav ul li a.active {
  color: orange;
}
header {
  width: 100vw;
  height: 30vh;
  background-color: gainsboro;
  padding-top: 20vh;
}
header h1 {
  margin: 0px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
video {
  width: 500px;
  height: auto;
}